# app
APP_PORT=80
APP_VUE_PORT=3000
APP_ENV="development"
APP_DOMAIN="https://gains.jaw.dev"
APP_ADMIN_EMAIL=""
APP_COOKIE_SECRET="hell yeah"
APP_COOKIE_EXPIRATION=
APP_JWT_SECRET="what's up"

# email
EMAIL_HOST="mailhot"
EMAIL_PORT=1025
EMAIL_AUTH_EMAIL="admin@test.com"
EMAIL_AUTH_PASS="password"

# caprover
CAPROVER_DOMAIN=
CAPROVER_PASSWORD=
CAPROVER_GIT_BRANCH_NAME=
CAPROVER_APP_NAME=

# google oauth (also used for youtube upload)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_OAUTH_REDIRECT_URL="http://localhost/api/auth/google/redirect"
