<%- include('./partials/header.html') %>

  <!-- username, passwordResetLink -->

  <div>
    <p>Hi <%= username %> ,</p>
    <br>
    <p>We have received a request to reset your password. If this was not you, ignore this notification and the reset
      link will
      expire itself
      in 10 minutes.</p>
    <br>
    <a href="<%= passwordResetLink %>" style="background: blue; color: white; display:inline-block; padding:5px;">Reset
      Now</a>
    <br>
    <br>
    <p>Gains team,</p>
    <p>Let's make all kinds of gains. All kindszzzz.!</p>
  </div>

  <%- include('./partials/footer.html') %>
