<%- include('./partials/header.html') %>

  <!-- username, verificationLink -->

  <div>
    <p>Hi <%= username %> ,</p>
    <br>
    <p>We're happy you signed up for Gains. To start exploring the Gains App, please confirm your email address.</p>
    <br>
    <a href="<%= verificationLink  %>" style="background: blue; color: white; display:inline-block; padding:5px;">Verify
      Now</a>
    <br>
    <br>
    <p>Welcome to the Gains train,</p>
    <p>Let's make all kinds of gains!</p>
  </div>

  <%- include('./partials/footer.html') %>
