@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/variables';

.dark-mode {
  * {
    color: #bdbbb5 !important;
  }

  .list-group-item {
    background-color: #181a1b !important;
    border-color: rgba(140, 130, 115, 0.13) !important;
  }

  #log:hover {
    background-image: initial;
    background-color: rgb(30, 33, 34) !important;
  }

  #admin-router-wrapper {
    background-color: #242219 !important;
  }

  .card {
    border-color: rgb(56, 61, 63) !important;
    background-color: #181a1b !important;
  }

  .list-group {
    background-color: #181a1b !important;
  }

  .active {
    box-shadow: 0 4px 0 #bdbbb5 inset;
  }

  #dashboard-footer,
  #videos-and-profile-header,
  #dashboard-header,
  #dashboard-home-header,
  #sessions-header,
  #session-details-header {
    color: #bdbbb5 !important;
    background-color: #1b1c1b !important;
    border-color: rgb(56, 61, 63) !important;
  }
}

@import 'bootstrap/scss/bootstrap';
